<!DOCTYPE html>

{% load staticfiles %}

<html class="no-js" lang="fr-CH">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RTS - Politweets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'politweets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'politweets/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'politweets/css/main.css' %}">
    
    <script src="{% static 'politweets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>

    {% block head_end_block %}{% endblock head_end_block %}

</head>
<body>

    {% block body_block %}{% endblock body_block %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="{% static 'politweets/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'politweets/js/main.js' %}"></script>
    <script src="//www.rts.ch/js/tools/stats-external.js"></script>
    <script>
        RTS.stats.send({
            remp:{prefix:'info/dossiers/2015/politweets'},
            comscore:{prefix:'rts.info.dossiers.2015.politweets'}
        });
    </script>

    {% block body_end_javascripts %}{% endblock body_end_javascripts %}

</body>
</html>
