{% extends 'politweets/base.html' %}

{% load staticfiles %}
{% load template_utils %}

{% block body_block %}

    <header>
        <div class="container">
            <div class="col-xs-8">
                <a class="logo">
                    <img src="{% static 'politweets/img/logo.png' %}">
                    <span class="politweets">Politweets</span>
                </a>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Bienvenue</h2>
                <p>Bienvenue dans Politweets, le quiz politique de la RTS pour les élections fédérales.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <input id="startOverButton" class="btn btn-default navbar-btn" value="Commencer" onclick="location.href='{% url 'politweets:round' %}'" />

            </div>
        </div>

    </div> <!-- container -->

{% endblock body_block %}

