{% extends 'politweets/base.html' %}

{% load staticfiles %}

{% load template_utils %}

{% block body_block %}

    <div class="container">

        <div class="row">
            <div class=".col-xs-6 .col-xs-offset-6">
                <img class="logo-home" src="{% static 'politweets/img/pt-logo-home.png' %}">
                <p class="logo-home-text">Politweets</p>
            </div>
        </div>

        <div class="row">
            <div class=".col-xs-6 .col-xs-offset-6">
                <q class="description">&nbsp;Phrases chocs, invectives, humour&hellip; Saurez-vous retrouver de quel parti émanent les citations suivantes, glânées sur les comptes Twitter des candidats des élections fédérales&nbsp;?&nbsp;</q>
            </div>
        </div>

        <div class="row">
            <div class=".col-xs-6 .col-xs-offset-6 text-center">
                <input class="btn btn-custom" type="button" value="Commencer" onclick="location.href='{% url 'politweets:round' %}'" />
            </div>
        </div>

    </div>

{% endblock body_block %}
