{% extends 'politweets/base.html' %}

{% load staticfiles %}

{% load template_utils %}

{% block body_block %}

    <div class="container">

        <div class="row">
            <div class=".col-xs-6 .col-xs-offset-6 text-center">
                <img class="logo-round" src="{% static 'politweets/img/pt-logo-round.png' %}">
                <p class="logo-round-text">Politweets</p>
            </div>
        </div>

        <div class="row">
            <div class=".col-xs-6 .col-xs-offset-6">
                <div class="progress progress-custom">
                    <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="{{ index|percentage:total }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ index|percentage:total }}%"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class=".col-xs-6 .col-xs-offset-6">
                <img class="tw-logo" src="{% static 'politweets/img/tw-logo.png' %}">
                <p class="tw-text"><small><em>{{ tweet.date }}</em></small><br>&laquo;&nbsp;{{ tweet.text }}&nbsp;&raquo;</p>
            </div>
        </div>

        <div class="row">
            <div class=".col-xs-6 .col-xs-offset-6">
	        <h4 class="res-title">Qui a dit&nbsp;?</h4>
            </div>
        </div>

        <div class="row">
            <div class=".col-xs-6 .col-xs-offset-6">

                <form action="{% url 'politweets:round' %}" method="post">

                    <div>
                        <input type="hidden" id="party_key" name="party_key" value="{{ candidate.party_key }}" />
                        <input type="hidden" id="tweet_id" name="tweet_id" value="{{ tweet.tweet_id }}" />
                        {% csrf_token %}
                        {% for choice in form.answer.field.choices %}
                            <input id="{{ choice.0 }}" class="btn btn-res-custom" type="button" value="{{ choice.1 }}" />
                        {% endfor %}
                    </div>

                    <div id="correct_answer" style="display: none;">
                        <h4 class="res-title">Auteur du Tweet</h4>
                        <p class="tw-text">{{ candidate.name }}&nbsp;({{ candidate.full_party_name }})<br><a target="_blank" href="https://twitter.com/{{ tweet.handle }}/status/{{ tweet.tweet_id }}">Voir le Tweet original</a></p>
                    </div>

                    <div id="nextButton" class="text-center" style="display: none;">
                        <input class="btn btn-custom" type="submit" value="Continuer" />
                    </div>

                </form>

            </div>
        </div>

    </div>

{% endblock body_block %}
