{% extends 'politweets/base.html' %}

{% load staticfiles %}

{% load template_utils %}

{% block body_block %}

    <div class="container">

        <div class="row">
            <div class="col-xs-3 col-sm-2 col-md-2">
                <img class="logo-round" src="{% static 'politweets/img/pt-logo-round.png' %}">
            </div>
            <div class="col-xs-9 col-sm-10 col-md-12">
                <p class="logo-round-text">Politweets</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="progress progress-custom">
                    <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="{{ index|percentage:total }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ index|percentage:total }}%"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-2 col-md-1">
                <img class="tw-logo" src="{% static 'politweets/img/tw-logo.png' %}">
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <p class="tw-text"><small><em>{{ tweet.date }}</em></small><br>&laquo;&nbsp;{{ tweet.text }}&nbsp;&raquo;</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4 class="res-title">Qui a dit&nbsp;?</h4>
            </div>
        </div>

        <form action="{% url 'politweets:round' %}" method="post">
            {% csrf_token %}

            <div class="row">
                <input type="hidden" id="party_key" name="party_key" value="{{ candidate.party_key }}" />
                <input type="hidden" id="tweet_id" name="tweet_id" value="{{ tweet.tweet_id }}" />

                {% for choice in form.answer.field.choices %}
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 smallpadding" aria-label="...">
                        <input id="{{ choice.0 }}" class="btn btn-res-custom" type="button" value="{{ choice.1 }}" />
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <div id="correct_answer" style="display: none;">
                        <h4 class="res-title">Auteur du Tweet</h4>
                        <p class="tw-text">{{ candidate.name }}&nbsp;({{ candidate.full_party_name }})<br><a target="_blank" href="https://twitter.com/{{ tweet.handle }}/status/{{ tweet.tweet_id }}">Voir le Tweet original</a></p>
                    </div>

                    <div id="nextButton" class="text-center" style="display: none;">
                        <input class="btn btn-custom" type="submit" value="Continuer" />
                    </div>
                </div>
            </div>

        </form>

    </div>

{% endblock body_block %}
