{% extends 'polytweets/base.html' %}

{% load staticfiles %}

{% block body_block %}

        <header>
            <div class="container">
                <div class="col-xs-8">
                    <a class="logo">
                        <img src="{% static 'polytweets/img/logo.png' %}">
                        <span class="politweets">PoliTweets</span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <div class="pull-right">
                        <div class="c100 p25 small">
                            <span>25%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
                
                    

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Qui a dit ?</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="tweet" class="panel panel-default">
                        <div class="panel-body">
                          <div class="media">
                            <div class="media-left">
                                <a href="#">
                                  <img class="media-object" src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_help_question-mark-128.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ candidate.name }} <small>{{ tweet.date }}</small> </h4>
                                {{ tweet.text }}
                            </div>
                        </div>
                        </div>
                    </div>

                    <div id="answers" class="panel panel-default">
                        <div class="panel-body">
                            <form action="#" method="post" class="form-horizontal">
                                {% csrf_token %}
                                    {{ form.as_p }}


                                <div class="nextButtonContainer statusContentItem">
                                    <input type="submit" class="btn btn-default navbar-btn" value="Tweet suivant" />
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default">
                        Suivant <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>           
        <footer>
            <p class="text-center">&copy; Hackhathon Lausanne 2015</p>
        </footer>


{% endblock body_block %}

