@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #BD1F2A;
    margin: 30px 15px 30px 15px;
}

.logo-home {
    height: 127px;
    margin-bottom: 30px;
}

.logo-home-text {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.description {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
}

.btn-custom {
    background-color: #E3252A;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 30px;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #D31B20;
    color: white;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #E3252A;
    color: white;
}

.logo-round {
    float: left;
    height: 48px;
    margin-bottom: 15px;
}

.logo-round-text {
    color: white;
    font-size: 30px;
    line-height: 1.6;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    margin: 0 48px 15px 0;
}

.progress-custom {
    background-image: none;
    background-color: white;
    border: 2px solid white;
    margin-bottom: 5px;
}

.progress-bar-custom {
    background-image: none;
    background-color: #E3252A;
}

.res-title {
    color: white;
}

.tw-logo {
    float: left;
    width: 48px;
    margin: 0 10px 15px 0;
}

.tw-text {
    background-color: white;
    border: 2px solid #E3252A;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

.tw-text em {
    color: #E3252A;
    font-style: normal;
}

.tw-text a, .tw-text a:visited {
    color: #E3252A;
}

.tw-text a:hover, .tw-text a:active {
    color: #D31B20;
}

.smallpadding {
    padding: 2.5px;
}

.btn-res-custom {
    background-color: white;
    color: #E3252A;
    font-size: 18px;
    border: 2px solid #E3252A;
    border-radius: 5px;
    width: 100%;
}

.btn-res-custom:hover,
.btn-res-custom:focus,
.btn-res-custom:active,
.btn-res-custom.active {
    background-color: #f2f2f2;
    color: #E3252A;
}

.btn-res-custom.disabled:hover,
.btn-res-custom.disabled:focus,
.btn-res-custom.disabled:active,
.btn-res-custom.disabled.active,
.btn-res-custom[disabled]:hover,
.btn-res-custom[disabled]:focus,
.btn-res-custom[disabled]:active,
.btn-res-custom[disabled].active,
fieldset[disabled] .btn-res-custom:hover,
fieldset[disabled] .btn-res-custom:focus,
fieldset[disabled] .btn-res-custom:active,
fieldset[disabled] .btn-res-custom.active {
    background-color: white;
    color: #E3252A;
}

.nopadding {
    padding: 0;
}

.smallmargin {
    margin-top: 15px;
}

.btn-custom-round {
    margin-top: 15px;
}

.score-title {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#user_score {
    margin-bottom: 15px;
}

.score-logo {
    height: 48px;
}

.score-text {
    color: white;
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0 0 10px;
}
